<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4629d64b-9490-443e-b364-7f52004c01a6" Alias="Button - Button Type" Level="1">
  <Info>
    <Name>Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>