<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa1516bd-c8ef-4f4f-a91f-c8b896d2eb88" Alias="Confirm Page - Page Layout " Level="1">
  <Info>
    <Name>Confirm Page - Page Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "6d3e0508-62fb-428d-bd6f-3706efd916fc",
      "name": "Content"
    },
    {
      "key": "9f35c5a7-5572-4000-b937-a4343fcc487d",
      "name": "Containers"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "1586bf6a-e76f-4919-9d40-bece90034463",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "groupKey": "9f35c5a7-5572-4000-b937-a4343fcc487d",
      "areas": [
        {
          "key": "902fc227-571e-4a09-9f5e-2abbed3c0d17",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "5ce25eea-ca87-4ed1-9d26-7d4938062b3a",
      "allowAtRoot": false,
      "groupKey": "9f35c5a7-5572-4000-b937-a4343fcc487d",
      "areas": [
        {
          "key": "a6bcb23a-7ed1-4ea2-8390-ccae72be7fa0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aff3209e-b506-4664-a32f-6a778af8fa4c",
      "allowAtRoot": false,
      "groupKey": "9f35c5a7-5572-4000-b937-a4343fcc487d",
      "areas": [
        {
          "key": "007394ef-59a8-49fc-b284-dcc7b63d8bfc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "allowAtRoot": false,
      "groupKey": "6d3e0508-62fb-428d-bd6f-3706efd916fc",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5081de68-a08a-4ed9-bb02-9ea857044a9c",
      "allowAtRoot": false,
      "groupKey": "6d3e0508-62fb-428d-bd6f-3706efd916fc",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>