<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a389094-5d7e-4f94-9290-f181d739331b" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3f06eef2-389d-4d76-a163-adb1b4598402",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "61eeef36-8f41-47b7-86e5-fc97d3f8da75",
      "label": "InputPassword- {=uniqueName}"
    },
    {
      "contentElementTypeKey": "dc91cba6-4a85-42bb-bf41-e01a7ad2074b",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ccb91cd4-b438-41f9-b5fb-323960f5d9f0",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>