<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23e0cb54-d194-4c18-8ce5-0763cd3bc214" Alias="Home Page -  - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Home Page -  - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>