<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76d541d0-d947-4a4d-8a20-3f0002b348ed" Alias="Home Page - Service - Solution 6 - Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Service - Solution 6 - Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>