<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bee6ebf-da74-4d3d-878e-c32e33ba0f6d" Alias="Input Text - Input Type" Level="1">
  <Info>
    <Name>Input Text - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "tel",
    "email"
  ]
}]]></Config>
</DataType>