<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25fcb1ff-64b2-4541-805d-741831c5617a" Alias="Modular Page - Layout - Block Grid Property Editor UI (1)" Level="1">
  <Info>
    <Name>Modular Page - Layout - Block Grid Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5081de68-a08a-4ed9-bb02-9ea857044a9c",
      "allowAtRoot": true,
      "label": "Content",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>