<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1a39d5b-b3f5-46c4-a776-db5a8f996e2a" Alias="Modular Page - Layout - Block Grid All" Level="1">
  <Info>
    <Name>Modular Page - Layout - Block Grid All</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5ce25eea-ca87-4ed1-9d26-7d4938062b3a",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>