<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56e0f182-a3c7-484e-a24c-8a334a6e0d42" Alias="Modular Page - Layout - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Modular Page - Layout - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3f06eef2-389d-4d76-a163-adb1b4598402",
      "allowAtRoot": true,
      "label": "Content"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>