<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea1d0c45-cb06-4bd3-a44f-e69b7fde535d" Alias="Modular Page - Layout - t2" Level="1">
  <Info>
    <Name>Modular Page - Layout - t2</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a9afe36b-a945-4870-bb82-b6ddc967e700",
      "allowAtRoot": true,
      "label": "img"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>