<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60025828-7385-46ea-b28f-2b969a7a89a8" Alias="Modular Page - Layout - Block Grid Property Editor UI (2)" Level="1">
  <Info>
    <Name>Modular Page - Layout - Block Grid Property Editor UI (2)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": []
    },
    {
      "contentElementTypeKey": "5081de68-a08a-4ed9-bb02-9ea857044a9c",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "a9afe36b-a945-4870-bb82-b6ddc967e700",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aff3209e-b506-4664-a32f-6a778af8fa4c",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "bba5d1a1-624a-4fb5-bc1f-c2c5682d0cff",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "5ce25eea-ca87-4ed1-9d26-7d4938062b3a",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "316ebb94-ccab-4d81-b32d-19e62846a8dd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "1586bf6a-e76f-4919-9d40-bece90034463",
      "allowAtRoot": true,
      "allowInAreas": false,
      "areas": [
        {
          "key": "dc067beb-b027-43c8-9743-d8aa06233706",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "572e2438-7bc2-489a-bdbe-5fd99f521832",
      "allowAtRoot": false,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>