<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56c469dd-b967-405b-bb8a-2217b582cfb4" Alias="Modular Page - Modular Page - Layout - Test" Level="1">
  <Info>
    <Name>Modular Page - Modular Page - Layout - Test</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>