<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c1716b2-b671-48f6-b26d-44781d3a14a1" Alias="Rich Text - Rich Text - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Rich Text - Rich Text - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>