<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b89808ae-a64b-4acb-88ba-eb8b19ff3a9b" Alias="Section - Section  Background - Color Picker" Level="1">
  <Info>
    <Name>Section - Section  Background - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>