<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a76bbcb-f572-4090-998f-f97ac349aa9d" Alias="Tags Dropdown List" Level="1">
  <Info>
    <Name>Tags Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Report",
    "Business Plans",
    "Insights",
    "Business",
    "App",
    "Project",
    "Finance",
    "Pricing"
  ]
}]]></Config>
</DataType>