<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5327cac-0c6f-433c-b74a-205bed164baf" Alias="Text Area" Level="1">
  <Info>
    <Name>Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>