<?xml version="1.0" encoding="utf-8"?>
<Media Key="df7fcaf7-8b04-4e33-b749-aa2293ea0c44" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="5114395c-a9a4-4bd1-8c4e-bf688e588952">settings</Parent>
    <Path>/settings/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:09:59</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/av1n0pi5/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>