<?xml version="1.0" encoding="utf-8"?>
<Media Key="22f984ef-7412-42f5-b866-241f9953daa7" Alias="03.svg" Level="2">
  <Info>
    <Parent Key="5114395c-a9a4-4bd1-8c4e-bf688e588952">settings</Parent>
    <Path>/settings/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:10:00</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/du2fxqaj/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>