<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a4e627-2d8e-4cca-89d4-7718de7dda4b" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="5114395c-a9a4-4bd1-8c4e-bf688e588952">settings</Parent>
    <Path>/settings/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:10:02</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0vnbmfuv/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>