<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f4b63d8-5774-4b76-a719-670e5b0b44f9" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="5114395c-a9a4-4bd1-8c4e-bf688e588952">settings</Parent>
    <Path>/settings/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:10:03</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/flpos1lp/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>