<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3f6ca72-a1d5-41ee-9426-e1d96fbef28e" Alias="about" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/about</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T09:47:06</CreateDate>
    <NodeName Default="about" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>