<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb665e79-14a6-4142-b360-7e992dbd1fa4" Alias="arlington-research-Kz8nHVg_tGI-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/arlingtonResearchKz8nHVg_tGIUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:56:07</CreateDate>
    <NodeName Default="arlington-research-Kz8nHVg_tGI-unsplash.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/40kcadop/arlington-research-kz8nhvg_tgi-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>