<?xml version="1.0" encoding="utf-8"?>
<Media Key="d065ce5e-41ab-4ab6-9627-2e688d39f32d" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="a3f6ca72-a1d5-41ee-9426-e1d96fbef28e">about</Parent>
    <Path>/about/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:47:14</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrznomvq/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>