<?xml version="1.0" encoding="utf-8"?>
<Media Key="976af67a-0e38-4a84-9e2b-2680fdb04da0" Alias="contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T10:09:13</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>