<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dcc1291-c6a1-419f-9052-e39bf67d4c88" Alias="Dot map.svg" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-04T11:33:22</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/moxh2530/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>