<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2d8a4d2-61e0-4b94-a594-81ac6d789ff6" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="a3f6ca72-a1d5-41ee-9426-e1d96fbef28e">about</Parent>
    <Path>/about/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:47:15</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eamhueh1/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>