<?xml version="1.0" encoding="utf-8"?>
<Media Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T09:10:01</CreateDate>
    <NodeName Default="home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>