<?xml version="1.0" encoding="utf-8"?>
<Media Key="9db71997-a5cd-4261-80ab-50c14d90ead1" Alias="image-24-min 2.png" Level="2">
  <Info>
    <Parent Key="1c865917-8f59-405f-839b-089e1dbeff54">services</Parent>
    <Path>/services/image24Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T14:36:36</CreateDate>
    <NodeName Default="image-24-min 2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ddjpck3e/image-24-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>