<?xml version="1.0" encoding="utf-8"?>
<Media Key="da443bed-ae2d-4e04-942a-ca789d03d50a" Alias="image-13-min 1.png" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:10:13</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mlybe1ce/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>