<?xml version="1.0" encoding="utf-8"?>
<Media Key="90c31d56-3ec6-4b44-a0ec-a0bcfb677b12" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:10:18</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1hljkjvp/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>