<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebafa2cd-e063-4195-881d-78ccc6787357" Alias="image-21-min 2.png" Level="2">
  <Info>
    <Parent Key="1c865917-8f59-405f-839b-089e1dbeff54">services</Parent>
    <Path>/services/image21Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T14:36:35</CreateDate>
    <NodeName Default="image-21-min 2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ijuosxik/image-21-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>