<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee6e17c3-f042-43d0-aeca-7db5be2db563" Alias="image-18-min 1.png" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/image18Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:10:15</CreateDate>
    <NodeName Default="image-18-min 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jtodqwbl/image-18-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>