<?xml version="1.0" encoding="utf-8"?>
<Media Key="93b0350e-9c21-4f75-8a49-6a72ddc2484a" Alias="Img-47-1.png" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/Img471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T08:59:45</CreateDate>
    <NodeName Default="Img-47-1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qh5pmjki/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>