<?xml version="1.0" encoding="utf-8"?>
<Media Key="258d187f-fdfa-494a-b7a3-2d2c476ff53b" Alias="Img-1-4-1.png" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/Img141png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T08:59:44</CreateDate>
    <NodeName Default="Img-1-4-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4djmxe2t/img-1-4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>