<?xml version="1.0" encoding="utf-8"?>
<Media Key="d76f7750-e195-4619-b28a-dfddf9cacb69" Alias="Img.svg" Level="2">
  <Info>
    <Parent Key="a3f6ca72-a1d5-41ee-9426-e1d96fbef28e">about</Parent>
    <Path>/about/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:47:19</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ulfm0nmo/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>