<?xml version="1.0" encoding="utf-8"?>
<Media Key="76324c19-0354-41a7-9f46-076a65c125f8" Alias="Img.svg" Level="2">
  <Info>
    <Parent Key="976af67a-0e38-4a84-9e2b-2680fdb04da0">contact</Parent>
    <Path>/contact/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:09:24</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3pyjbfcp/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>