<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9bf6fe8-744a-4529-b035-36e7fea057e5" Alias="john-schnobrich-2FPjlAyMQTA-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/johnSchnobrich2FPjlAyMQTAUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:55:46</CreateDate>
    <NodeName Default="john-schnobrich-2FPjlAyMQTA-unsplash.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m4sps5zd/john-schnobrich-2fpjlaymqta-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>