<?xml version="1.0" encoding="utf-8"?>
<Media Key="50b35ec0-723d-4334-859a-d1e0e605b622" Alias="lycs-architecture-U2BI3GMnSSE-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/lycsArchitectureU2BI3GMnSSEUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:55:47</CreateDate>
    <NodeName Default="lycs-architecture-U2BI3GMnSSE-unsplash.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j4kplzsu/lycs-architecture-u2bi3gmnsse-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>