<?xml version="1.0" encoding="utf-8"?>
<Media Key="82cf08ff-818e-41d1-9ade-0441a0c565a6" Alias="Mail.svg" Level="2">
  <Info>
    <Parent Key="1c865917-8f59-405f-839b-089e1dbeff54">services</Parent>
    <Path>/services/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T14:36:37</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bw0h0yev/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>