<?xml version="1.0" encoding="utf-8"?>
<Media Key="f50b5314-f4af-4f22-82b4-4e5923f56250" Alias="Mask-Group-8-1.png" Level="2">
  <Info>
    <Parent Key="a3f6ca72-a1d5-41ee-9426-e1d96fbef28e">about</Parent>
    <Path>/about/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:47:25</CreateDate>
    <NodeName Default="Mask-Group-8-1.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tomf0q4g/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>