<?xml version="1.0" encoding="utf-8"?>
<Media Key="314524d3-d680-4aff-a43e-414f75dc79e2" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T09:10:20</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/egmppu21/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>