<?xml version="1.0" encoding="utf-8"?>
<Media Key="a305f7cd-865d-45a0-8103-f7e7d8e73513" Alias="pj4.png" Level="2">
  <Info>
    <Parent Key="e75aa9d9-49e2-4d58-92b2-6598e3a78a39">home</Parent>
    <Path>/home/pj4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T09:10:24</CreateDate>
    <NodeName Default="pj4.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ii4fgfju/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>