<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8a554a1-836c-4c19-8559-124480313fa9" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T08:59:36</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>