<?xml version="1.0" encoding="utf-8"?>
<Media Key="a06edaaf-01b1-4164-99f2-5102ce0378fc" Alias="redd-f-5U_28ojjgms-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/reddF5U_28ojjgmsUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:55:43</CreateDate>
    <NodeName Default="redd-f-5U_28ojjgms-unsplash.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eaicqfwy/redd-f-5u_28ojjgms-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>