<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c865917-8f59-405f-839b-089e1dbeff54" Alias="services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T14:36:27</CreateDate>
    <NodeName Default="services" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>