<?xml version="1.0" encoding="utf-8"?>
<Media Key="5114395c-a9a4-4bd1-8c4e-bf688e588952" Alias="settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/settings</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T10:09:53</CreateDate>
    <NodeName Default="settings" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>