<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5718701-55e5-4a53-8b78-fe22ef7c8c96" Alias="tim-van-der-kuip-CPs2X8JYmS8-unsplash (1).jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/timVanDerKuipCPs2X8JYmS8Unsplash1Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:55:44</CreateDate>
    <NodeName Default="tim-van-der-kuip-CPs2X8JYmS8-unsplash (1).jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rzgdoe2m/tim-van-der-kuip-cps2x8jyms8-unsplash-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>