<?xml version="1.0" encoding="utf-8"?>
<Media Key="68e8857b-a9b6-4919-8d0b-91cdea72006d" Alias="unseen-studio-s9CC2SKySJM-unsplash.jpg" Level="2">
  <Info>
    <Parent Key="f8a554a1-836c-4c19-8559-124480313fa9">projects</Parent>
    <Path>/projects/unseenStudioS9CC2SKySJMUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-20T08:55:45</CreateDate>
    <NodeName Default="unseen-studio-s9CC2SKySJM-unsplash.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4rhl3xw5/unseen-studio-s9cc2skysjm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>