<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d910fbbf-6ced-489e-9c22-89c1e21dfb94" Alias="servicesSection" Level="1">
  <Info>
    <Name>Services Section</Name>
    <Icon>icon-factory color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8fb701ac-7e91-4677-a8ce-ae644c2ce341</Key>
      <Name>Service - Solution 1 - Headline</Name>
      <Alias>serviceSolution1Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution1">Service - Solution 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3dc1a21-d079-4063-8f39-074a60c37f8f</Key>
      <Name>Service - Solution 1 - Image</Name>
      <Alias>serviceSolution1Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution1">Service - Solution 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>831db3af-a31d-4acc-b3c2-9f1834ca7147</Key>
      <Name>Service - Solution 1 - Link</Name>
      <Alias>serviceSolution1Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution1">Service - Solution 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2c22cb5-fa19-4f9f-aad9-e36a5719b5fe</Key>
      <Name>Service - Solution 1 - Text</Name>
      <Alias>serviceSolution1Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution1">Service - Solution 1</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f71cbdc-50ea-4095-bfef-0fe46d69420e</Key>
      <Name>Service - Solution 2 - Headline</Name>
      <Alias>serviceSolution2Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution2">Service - Solution 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a6b532ec-6773-4dc2-a0ab-d90438dfeff8</Key>
      <Name>Service - Solution 2 - Image</Name>
      <Alias>serviceSolution2Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution2">Service - Solution 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88bfc741-d127-4e7e-9dca-147729bc2cc8</Key>
      <Name>Service - Solution 2 - Link</Name>
      <Alias>serviceSolution2Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution2">Service - Solution 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1afa1b00-21a4-4ffe-93ab-c52fea090990</Key>
      <Name>Service - Solution 2 - Text</Name>
      <Alias>serviceSolution2Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution2">Service - Solution 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a80a4d23-e668-4a3b-870e-73db4088fcb7</Key>
      <Name>Service - Solution 3 - Headline</Name>
      <Alias>serviceSolution3Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution3">Service - Solution 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09983209-6043-418c-a5dd-86d84e502b4e</Key>
      <Name>Service - Solution 3 - Image</Name>
      <Alias>serviceSolution3Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution3">Service - Solution 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43bb31bd-7978-416d-9939-d77edb135ac1</Key>
      <Name>Service - Solution 3 - Link</Name>
      <Alias>serviceSolution3Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution3">Service - Solution 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82db8e0f-b6a8-4182-a1eb-a2287b57e7d9</Key>
      <Name>Service - Solution 3 - Text</Name>
      <Alias>serviceSolution3Text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution3">Service - Solution 3</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b55b160-bc12-4eb5-97cf-9020647d1802</Key>
      <Name>Service - Solution 4 - Headline</Name>
      <Alias>serviceSolution4Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution4">Service - Solution 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e812af7-e8cd-4c99-bbfd-fdd5603249c3</Key>
      <Name>Service - Solution 4 - Image</Name>
      <Alias>serviceSolution4Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution4">Service - Solution 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69cb42cc-7d28-4eee-a7d3-2bd9ed6a1678</Key>
      <Name>Service - Solution 4 - Link</Name>
      <Alias>serviceSolution4Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution4">Service - Solution 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4ab18f1-bf63-48cf-9fe7-ea791913e32b</Key>
      <Name>Service - Solution 4 - Text</Name>
      <Alias>serviceSolution4Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution4">Service - Solution 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>40650db9-8647-420b-9bd0-07237d30da50</Key>
      <Name>Service - Solution 5 - Headline</Name>
      <Alias>serviceSolution5Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution5">Service - Solution 5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c1e03c3-0fbe-4f51-8f15-a707c5861a32</Key>
      <Name>Service - Solution 5 - Image</Name>
      <Alias>serviceSolution5Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution5">Service - Solution 5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91a479c5-5bc9-4401-b576-545e4aa5d3ce</Key>
      <Name>Service - Solution 5 - Link</Name>
      <Alias>serviceSolution5Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution5">Service - Solution 5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70ac2739-e410-4c1c-89ad-bca4510cd5cb</Key>
      <Name>Service - Solution 5 - Text</Name>
      <Alias>serviceSolution5Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution5">Service - Solution 5</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87ec9fe3-0501-416e-92c3-50aa40861af0</Key>
      <Name>Service - Solution 6 - Headline</Name>
      <Alias>serviceSolution6Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution6">Service - Solution 6</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3bdf9e88-457e-4202-bec4-1255f3232371</Key>
      <Name>Service - Solution 6 - Image</Name>
      <Alias>serviceSolution6Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution6">Service - Solution 6</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00e049e9-9cd7-4a55-929e-a5d7a174aa3a</Key>
      <Name>Service - Solution 6 - Link</Name>
      <Alias>serviceSolution6Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution6">Service - Solution 6</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2f64739-69e4-44f4-b794-62e20a659480</Key>
      <Name>Service - Solution 6 - Text</Name>
      <Alias>serviceSolution6Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution6">Service - Solution 6</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b6adb76-25d1-46da-a0e2-abd877392dfe</Key>
      <Name>Service - Solution 7 - Headline</Name>
      <Alias>serviceSolution7Headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="servicesSection/service-Solution7">Service - Solution 7</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>121ca265-401d-4294-83c9-5ae3628682ed</Key>
      <Name>Service - Solution 7 - Image</Name>
      <Alias>serviceSolution7Image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="servicesSection/service-Solution7">Service - Solution 7</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dabbae9-aa95-4e2a-b273-e5bf2809e81a</Key>
      <Name>Service - Solution 7 - Link</Name>
      <Alias>serviceSolution7Link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesSection/service-Solution7">Service - Solution 7</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6cf1cfb-f5a6-49c4-9c71-e9800da98cdf</Key>
      <Name>Service - Solution 7 - Text</Name>
      <Alias>serviceSolution7Text</Alias>
      <Definition>23e0cb54-d194-4c18-8ce5-0763cd3bc214</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="servicesSection/service-Solution7">Service - Solution 7</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2a23ea57-71e9-4315-a274-a2ceb2c58bb2</Key>
      <Caption>Service - Solution 7</Caption>
      <Alias>servicesSection/service-Solution7</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>30c5f52f-2cbe-4457-adf0-6f724646d453</Key>
      <Caption>Service - Solution 1</Caption>
      <Alias>servicesSection/service-Solution1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>59d237a9-1f82-4a75-93aa-6f9853f066cf</Key>
      <Caption>Service - Solution 4</Caption>
      <Alias>servicesSection/service-Solution4</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>87c655ed-b7b6-4ac8-96a3-d3279ba387fe</Key>
      <Caption>Service - Solution 5</Caption>
      <Alias>servicesSection/service-Solution5</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>c81c9171-3bbc-484c-aaa0-030c29a9bd1e</Key>
      <Caption>Service - Solution 6</Caption>
      <Alias>servicesSection/service-Solution6</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>d0d7a003-7bdb-464e-aa38-bc00e5637e06</Key>
      <Caption>Services Section</Caption>
      <Alias>servicesSection</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>db6e0307-6647-433b-b7f8-490b4a08ce28</Key>
      <Caption>Service - Solution 3</Caption>
      <Alias>servicesSection/service-Solution3</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>fbbe55e3-9308-4e6b-89f0-8629100a0940</Key>
      <Caption>Service - Solution 2</Caption>
      <Alias>servicesSection/service-Solution2</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>