@{
	Layout = null;
}
@model List<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>

<section id="search-results" class="search-results">
    <div class="container">
        <h2>Search results for "@Context.Request.Query["query"]"</h2>

        @if (Model == null || Model.Count == 0)
        {
            <p>No results found.</p>
        }
        else
        {
            <ul class="result-list">
                @foreach (var item in Model)
                {
                    <li>
                        <a class="result-list-item" href="@item.Url()">@item.Name</a>
                    </li>
                }
            </ul>
        }
    </div>
</section>

<style>
    #search-results {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .result-list-item{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
    }

</style>