@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "solutionAbout") ?? null;

    var solutionAboutImage = settings?.Value<IPublishedContent>("solutionAboutImage")?.Url() ?? "";
    var solutionAboutFormImage = settings?.Value<IPublishedContent>("solutionAboutFormImage")?.Url() ?? "";


    var solutionAboutHeadline = settings?.Value<string>("solutionAboutHeadline") ?? "";
    var solutionAboutFormHeadline = settings?.Value<string>("solutionAboutFormHeadline") ?? "";
    var solutionAboutText = settings?.Value<string>("solutionAboutText") ?? "";
    var solutionAboutFormText = settings?.Value<string>("solutionAboutFormText") ?? "";

 
}


<h4>@solutionAboutHeadline</h4>
<div class="image">
    <img src="@solutionAboutImage" alt="Image of people">
</div>
<p>@solutionAboutText</p>
   
    