@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "weHelp") ?? null;

    var weHelpFormImage = settings?.Value<IPublishedContent>("weHelpFormImage")?.Url() ?? "";

    var weHelpFormHeadline = settings?.Value<string>("weHelpFormHeadline") ?? "";
    var weHelpFormText = settings?.Value<string>("weHelpFormText") ?? "";

}


<div class="we-help-form bg-primary">
    <h4>@weHelpFormHeadline</h4>
    <p>@weHelpFormText</p>
    <div class="form">
        <form onsubmit="handleHelpFormSubmit(event)" novalidate>
            <div class="form-input-group">
                <input id="email" name="email" type="email" placeholder="Enter your e-mail address" class="form-input">
                <span class="form-input-error">You must enter a valid e-mail address</span>
            </div>                   
            <button type="submit" class="btn-we-help">
                <i class="fa-light fa-envelope"></i>
            </button>
        </form>
    </div>

    <div class="image">
        <img src="@weHelpFormImage" alt="Image of form content">
    </div>
</div>



