<?xml version="1.0" encoding="utf-8"?>
<Content Key="95d5b6f6-8060-4ffe-a836-980328928f77" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-03T10:57:22</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ba221ada-a20f-4787-874e-959846e2edbb">aboutPage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutHeadline>
    <aboutLink2>
      <Value><![CDATA[/about]]></Value>
    </aboutLink2>
    <aboutLinkText2>
      <Value><![CDATA[About]]></Value>
    </aboutLinkText2>
    <kevinBank>
      <Value><![CDATA[Swebank]]></Value>
    </kevinBank>
    <kevinHeading>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </kevinHeading>
    <kevinHeadline>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </kevinHeadline>
    <kevinImage>
      <Value><![CDATA[[
  {
    "key": "66222da2-8d68-4adf-9e2f-79b67e1d8485",
    "mediaKey": "667443c9-9164-49a6-92e7-0f8e19e0cd89",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </kevinImage>
    <kevinName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </kevinName>
    <kevinText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </kevinText>
    <ourExpertsExpert1Image>
      <Value><![CDATA[[
  {
    "key": "4645c9a7-e831-4426-b04e-8c1163943350",
    "mediaKey": "530bcc4d-5792-4052-8111-1ba73a25b971",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsExpert1Image>
    <ourExpertsExpert1Name>
      <Value><![CDATA[Brandon Newton]]></Value>
    </ourExpertsExpert1Name>
    <ourExpertsExpert1Text>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourExpertsExpert1Text>
    <ourExpertsExpert2Image>
      <Value><![CDATA[[
  {
    "key": "1d7cbfd5-c51f-4ac4-81b7-c90e251b5f6d",
    "mediaKey": "2c5e4f24-9fef-4701-8a6e-a9308360de98",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsExpert2Image>
    <ourExpertsExpert2Name>
      <Value><![CDATA[AJ Carter]]></Value>
    </ourExpertsExpert2Name>
    <ourExpertsExpert2Text>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourExpertsExpert2Text>
    <ourExpertsExpert3Image>
      <Value><![CDATA[[
  {
    "key": "496e8df0-e616-4617-af94-3ffcc13edfa4",
    "mediaKey": "57e691b3-f14a-4de0-895a-7135ff6610c8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsExpert3Image>
    <ourExpertsExpert3Name>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </ourExpertsExpert3Name>
    <ourExpertsExpert3Text>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </ourExpertsExpert3Text>
    <ourExpertsHeading>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourExpertsHeading>
    <ourExpertsHeadline>
      <Value><![CDATA[Our expert]]></Value>
    </ourExpertsHeadline>
    <ourExpertsMoreExpert1Image>
      <Value><![CDATA[[
  {
    "key": "ae4b460e-04c6-4434-ac92-b93a7dc98d95",
    "mediaKey": "fe39c49c-9b57-473a-8a4c-f35a83620657",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsMoreExpert1Image>
    <ourExpertsMoreExpert1Name>
      <Value><![CDATA[Tina Fox]]></Value>
    </ourExpertsMoreExpert1Name>
    <ourExpertsMoreExpert1Text>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourExpertsMoreExpert1Text>
    <ourExpertsMoreExpert2Image>
      <Value><![CDATA[[
  {
    "key": "16499cef-12bc-465a-9b0f-c1851a5ca18b",
    "mediaKey": "f50b5314-f4af-4f22-82b4-4e5923f56250",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsMoreExpert2Image>
    <ourExpertsMoreExpert2Name>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </ourExpertsMoreExpert2Name>
    <ourExpertsMoreExpert2Text>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourExpertsMoreExpert2Text>
    <ourExpertsMoreExpert3Image>
      <Value><![CDATA[[
  {
    "key": "69576ce0-880e-4d29-90cb-c8bfb962f3a7",
    "mediaKey": "0f58821c-a36f-43b6-a60a-0f37a5c55ae4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsMoreExpert3Image>
    <ourExpertsMoreExpert3Name>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </ourExpertsMoreExpert3Name>
    <ourExpertsMoreExpert3Text>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourExpertsMoreExpert3Text>
    <ourExpertsMoreExpert4Image>
      <Value><![CDATA[[
  {
    "key": "1780d2de-eb09-410c-bdd5-68ed95206699",
    "mediaKey": "77a10a6a-31c0-438a-9403-e75cc889abfb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourExpertsMoreExpert4Image>
    <ourExpertsMoreExpert4Name>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </ourExpertsMoreExpert4Name>
    <ourExpertsMoreExpert4Text>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </ourExpertsMoreExpert4Text>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
    <tinaHeadline>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </tinaHeadline>
    <tinaImage>
      <Value><![CDATA[[
  {
    "key": "2640529c-ad4a-4bb2-86ee-ce96208c70f3",
    "mediaKey": "9e6300e7-1107-480c-acfe-a9f161fd25ad",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </tinaImage>
    <tinaQuote>
      <Value><![CDATA[We have over 25 years of experience providing expert financial advice to both businesses and individuals.]]></Value>
    </tinaQuote>
    <tinaText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum. 

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.  

Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero. 

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat. 

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra. 

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </tinaText>
  </Properties>
</Content>