<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c99a7fb-777a-4cb3-adba-229ad3fc47ec" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-05T14:40:20</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fbe4cd20-8be6-464e-b9f5-2b7eecf99db8">contactPage</Template>
  </Info>
  <Properties>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "aa880359-d2ba-4326-978b-5fd454359ba9",
    "mediaKey": "76324c19-0354-41a7-9f46-076a65c125f8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3f06eef2-389d-4d76-a163-adb1b4598402",
      "udi": "umb://element/3df3259894ea4807acede6857c0d500b",
      "uniqueName": "Name",
      "lableText": "Name",
      "placeholderText": "Enter your name",
      "isRequired": 1,
      "inputType": "[\u0022text\u0022]",
      "errorMessage": "You must enter your name"
    },
    {
      "contentTypeKey": "3f06eef2-389d-4d76-a163-adb1b4598402",
      "udi": "umb://element/00b063c8549e4c628e2b2992e3b62178",
      "inputType": "[\u0022email\u0022]",
      "uniqueName": "email",
      "lableText": "E-mail address",
      "placeholderText": "Enter your e-mail address",
      "errorMessage": "You must enter your e-mail address",
      "isRequired": 1
    },
    {
      "contentTypeKey": "dc91cba6-4a85-42bb-bf41-e01a7ad2074b",
      "udi": "umb://element/aae0b0094679411ab46dd485ea5db38f",
      "uniqueName": "message",
      "lableText": "Message",
      "placeholderText": "Enter your messege...",
      "isRequired": 1,
      "errorMessage": "You must enter your message"
    },
    {
      "contentTypeKey": "ccb91cd4-b438-41f9-b5fb-323960f5d9f0",
      "udi": "umb://element/feeaa24b8395432b829faba550bc7ec6",
      "buttonText": "Send",
      "buttonType": "[\u0022submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3df3259894ea4807acede6857c0d500b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/00b063c8549e4c628e2b2992e3b62178",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/aae0b0094679411ab46dd485ea5db38f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/feeaa24b8395432b829faba550bc7ec6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <contactHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactHeadline>
    <contactLink1>
      <Value><![CDATA[/]]></Value>
    </contactLink1>
    <contactLink2>
      <Value><![CDATA[/contact]]></Value>
    </contactLink2>
    <contactLinkText1>
      <Value><![CDATA[Home]]></Value>
    </contactLinkText1>
    <contactLinkText2>
      <Value><![CDATA[Contact]]></Value>
    </contactLinkText2>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <requestTextHeading>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </requestTextHeading>
    <requestTextHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </requestTextHeadline>
    <requestTextText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </requestTextText>
  </Properties>
</Content>