<?xml version="1.0" encoding="utf-8"?>
<Content Key="27fc480a-8e06-450d-ad04-e066d9f693be" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-02T11:07:53</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="458ad5cc-614c-4e92-95a0-dca5552099be">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[We have over 25 years of experience providing expert financial advice to both businesses and individuals.]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutSectionTitle>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "e590b881-cfd0-4409-b56d-9534114e26d3",
    "mediaKey": "314524d3-d680-4aff-a43e-414f75dc79e2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutSignatureText>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignatureText>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "fbb718b7-4b9d-4a09-88d6-21ab6d31f488",
    "mediaKey": "113d9630-f655-444e-9755-2c17dc60131c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <projectsHeadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsHeadline>
    <projectsProject1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsProject1Headline>
    <projectsProject1Image>
      <Value><![CDATA[[
  {
    "key": "7b7348a0-effc-4230-b341-d6cea26c289a",
    "mediaKey": "06b1b771-7418-4fda-9bda-3aa9ce1432ea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject1Image>
    <projectsProject1Link>
      <Value><![CDATA[/project-1]]></Value>
    </projectsProject1Link>
    <projectsProject1Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject1Text>
    <projectsProject2Headline>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectsProject2Headline>
    <projectsProject2Image>
      <Value><![CDATA[[
  {
    "key": "9ad5f601-5cf6-43af-940a-ef4b1182b40f",
    "mediaKey": "0bbc0ace-517e-4887-b8fc-f23e04feb54d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject2Image>
    <projectsProject2Link>
      <Value><![CDATA[/project-2]]></Value>
    </projectsProject2Link>
    <projectsProject2Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject2Text>
    <projectsProject3Headline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectsProject3Headline>
    <projectsProject3Image>
      <Value><![CDATA[[
  {
    "key": "75af378c-729c-4840-b9bc-771be7c5c3ff",
    "mediaKey": "bf0e9748-8410-4766-9a4f-20c7f4139ef8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject3Image>
    <projectsProject3Link>
      <Value><![CDATA[/project-3]]></Value>
    </projectsProject3Link>
    <projectsProject3Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject3Text>
    <projectsProject4Headline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectsProject4Headline>
    <projectsProject4Image>
      <Value><![CDATA[[
  {
    "key": "965eabba-26de-4312-8fdd-6cd3d95fd54b",
    "mediaKey": "a305f7cd-865d-45a0-8103-f7e7d8e73513",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject4Image>
    <projectsProject4Link>
      <Value><![CDATA[/project-4]]></Value>
    </projectsProject4Link>
    <projectsProject4Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject4Text>
    <projectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsTitle>
    <servicesHeadline>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesHeadline>
    <serviceSolution1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceSolution1Headline>
    <serviceSolution1Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution1Image>
    <serviceSolution1Link>
      <Value><![CDATA[/solution-1]]></Value>
    </serviceSolution1Link>
    <serviceSolution1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution1Text>
    <serviceSolution2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceSolution2Headline>
    <serviceSolution2Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution2Image>
    <serviceSolution2Link>
      <Value><![CDATA[/Solution-Bonds-Commodities]]></Value>
    </serviceSolution2Link>
    <serviceSolution2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution2Text>
    <serviceSolution3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceSolution3Headline>
    <serviceSolution3Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution3Image>
    <serviceSolution3Link>
      <Value><![CDATA[/Solution-Assurance-Audits]]></Value>
    </serviceSolution3Link>
    <serviceSolution3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution3Text>
    <serviceSolution4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceSolution4Headline>
    <serviceSolution4Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution4Image>
    <serviceSolution4Link>
      <Value><![CDATA[/Solution-Tax-Trusts]]></Value>
    </serviceSolution4Link>
    <serviceSolution4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution4Text>
    <serviceSolution5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceSolution5Headline>
    <serviceSolution5Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution5Image>
    <serviceSolution5Link>
      <Value><![CDATA[/Solution-Financial-Advisor]]></Value>
    </serviceSolution5Link>
    <serviceSolution5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution5Text>
    <serviceSolution6Headline>
      <Value><![CDATA[Statistic-Advisors]]></Value>
    </serviceSolution6Headline>
    <serviceSolution6Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution6Image>
    <serviceSolution6Link>
      <Value><![CDATA[/Solution-]]></Value>
    </serviceSolution6Link>
    <serviceSolution6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceSolution6Text>
    <servicesTitleFirstRow>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </servicesTitleFirstRow>
    <servicesTitleSecondRow>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </servicesTitleSecondRow>
    <successHeadline>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "02ecc16b-c526-4b35-ade5-6d969c275e0a",
    "mediaKey": "c37a83e2-c00b-4903-aab7-224061da5a68",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successStory1Number>
      <Value><![CDATA[689]]></Value>
    </successStory1Number>
    <successStory1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStory1Text>
    <successStory2Number>
      <Value><![CDATA[370]]></Value>
    </successStory2Number>
    <successStory2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStory2Text>
    <successStory3Number>
      <Value><![CDATA[125]]></Value>
    </successStory3Number>
    <successStory3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStory3Text>
    <successTitle>
      <Value><![CDATA[Success story]]></Value>
    </successTitle>
    <weAreButtomLink>
      <Value><![CDATA[/we-are]]></Value>
    </weAreButtomLink>
    <weAreButtomText>
      <Value><![CDATA[Read our story]]></Value>
    </weAreButtomText>
    <weAreHeadlineFirstRow>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </weAreHeadlineFirstRow>
    <weAreHeadlineSecondRow>
      <Value><![CDATA[4.000+ clients]]></Value>
    </weAreHeadlineSecondRow>
    <weAreImage>
      <Value><![CDATA[[
  {
    "key": "f10ce400-0664-4400-9ab8-4704961d280e",
    "mediaKey": "cd925703-5ac8-492d-bf19-eec9e6f23f8c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weAreImage>
    <weAreText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </weAreText>
  </Properties>
</Content>