<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6e68490-4c73-4404-83ae-bb1ec5f456b4" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-13T08:37:40</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c4c8e70-9f63-4ab1-89dd-28e2c1e0c694">projectsPage</Template>
  </Info>
  <Properties>
    <ourProjectsProject1Button>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject1Button>
    <ourProjectsProject1Date>
      <Value><![CDATA[ June 15, 2024]]></Value>
    </ourProjectsProject1Date>
    <ourProjectsProject1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourProjectsProject1Headline>
    <ourProjectsProject1Image>
      <Value><![CDATA[[
  {
    "key": "d4e9f71d-a5fb-4be8-ab83-199a42302468",
    "mediaKey": "06b1b771-7418-4fda-9bda-3aa9ce1432ea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject1Image>
    <ourProjectsProject1Link>
      <Value><![CDATA[/project-1]]></Value>
    </ourProjectsProject1Link>
    <ourProjectsProject1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject1Text>
    <ourProjectsProject2Button>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject2Button>
    <ourProjectsProject2Date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </ourProjectsProject2Date>
    <ourProjectsProject2Headline>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </ourProjectsProject2Headline>
    <ourProjectsProject2Image>
      <Value><![CDATA[[
  {
    "key": "15897753-eaeb-4e5d-8522-0e87f0d62606",
    "mediaKey": "0bbc0ace-517e-4887-b8fc-f23e04feb54d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject2Image>
    <ourProjectsProject2Link>
      <Value><![CDATA[/project-2]]></Value>
    </ourProjectsProject2Link>
    <ourProjectsProject2Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject2Text>
    <ourProjectsProject3Button>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject3Button>
    <ourProjectsProject3Date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </ourProjectsProject3Date>
    <ourProjectsProject3Headline>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </ourProjectsProject3Headline>
    <ourProjectsProject3Image>
      <Value><![CDATA[[
  {
    "key": "8ebba27a-fb21-4004-83f8-639ceb445688",
    "mediaKey": "a305f7cd-865d-45a0-8103-f7e7d8e73513",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject3Image>
    <ourProjectsProject3Link>
      <Value><![CDATA[/project-4]]></Value>
    </ourProjectsProject3Link>
    <ourProjectsProject3Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject3Text>
    <ourProjectsProject4Button>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject4Button>
    <ourProjectsProject4Date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </ourProjectsProject4Date>
    <ourProjectsProject4Headline>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </ourProjectsProject4Headline>
    <ourProjectsProject4Image>
      <Value><![CDATA[[
  {
    "key": "62e1e625-e1b2-4a81-87f4-f73a72a4e026",
    "mediaKey": "bf0e9748-8410-4766-9a4f-20c7f4139ef8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject4Image>
    <ourProjectsProject4Link>
      <Value><![CDATA[/project-3]]></Value>
    </ourProjectsProject4Link>
    <ourProjectsProject4Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject4Text>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <projectsBannerHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsBannerHeadline>
    <projectsBannerLink2>
      <Value><![CDATA[/projects]]></Value>
    </projectsBannerLink2>
    <projectsBannerLinkText2>
      <Value><![CDATA[Projects]]></Value>
    </projectsBannerLinkText2>
  </Properties>
</Content>