<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dd97800-e7e7-4d2f-89e0-e67af6567f91" Alias="Services" Level="2">
  <Info>
    <Parent Key="27fc480a-8e06-450d-ad04-e066d9f693be">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-09T14:56:56</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e90ada8-9f9f-46d6-babf-b40dffb6d829">servicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <servicesBannerHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </servicesBannerHeadline>
    <servicesBannerLink2>
      <Value><![CDATA[/services]]></Value>
    </servicesBannerLink2>
    <servicesBannerLinkText2>
      <Value><![CDATA[Services]]></Value>
    </servicesBannerLinkText2>
    <servicesTitleFirstRow>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </servicesTitleFirstRow>
    <servicesTitleSecondRow>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </servicesTitleSecondRow>
  </Properties>
</Content>