<?xml version="1.0" encoding="utf-8"?>
<Content Key="851d9732-868e-4604-9588-55e054af2307" Alias="Services Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesSection</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesSection</ContentType>
    <CreateDate>2024-09-09T14:55:48</CreateDate>
    <NodeName Default="Services Section" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceSolution1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceSolution1Headline>
    <serviceSolution1Image>
      <Value><![CDATA[[
  {
    "key": "8fe42568-2bfd-4660-9d74-17ffebbcb4eb",
    "mediaKey": "f4853794-eb8d-4b21-a01f-5be4c2fae62b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution1Image>
    <serviceSolution1Link>
      <Value><![CDATA[/services-solution-1]]></Value>
    </serviceSolution1Link>
    <serviceSolution1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution1Text>
    <serviceSolution2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceSolution2Headline>
    <serviceSolution2Image>
      <Value><![CDATA[[
  {
    "key": "af3593c6-e93a-400d-a804-0b8be5f0de94",
    "mediaKey": "ee6e17c3-f042-43d0-aeca-7db5be2db563",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution2Image>
    <serviceSolution2Link>
      <Value><![CDATA[/services-solution-2]]></Value>
    </serviceSolution2Link>
    <serviceSolution2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution2Text>
    <serviceSolution3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceSolution3Headline>
    <serviceSolution3Image>
      <Value><![CDATA[[
  {
    "key": "fa0ff005-d11a-49f6-8a66-43eb3744a1ab",
    "mediaKey": "da443bed-ae2d-4e04-942a-ca789d03d50a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution3Image>
    <serviceSolution3Link>
      <Value><![CDATA[/services-solution-3]]></Value>
    </serviceSolution3Link>
    <serviceSolution3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution3Text>
    <serviceSolution4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceSolution4Headline>
    <serviceSolution4Image>
      <Value><![CDATA[[
  {
    "key": "45b789d1-e135-4820-9718-1299082d96cf",
    "mediaKey": "535aa071-e3c1-4a8a-8614-90f577b4821f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution4Image>
    <serviceSolution4Link>
      <Value><![CDATA[/services-solution-4]]></Value>
    </serviceSolution4Link>
    <serviceSolution4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution4Text>
    <serviceSolution5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceSolution5Headline>
    <serviceSolution5Image>
      <Value><![CDATA[[
  {
    "key": "7f14ab59-a3b1-4ce8-bc10-f342c967f80a",
    "mediaKey": "e0ce01b8-6b29-4a1c-b14d-f678400c2768",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution5Image>
    <serviceSolution5Link>
      <Value><![CDATA[/services-solution-5]]></Value>
    </serviceSolution5Link>
    <serviceSolution5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution5Text>
    <serviceSolution6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceSolution6Headline>
    <serviceSolution6Image>
      <Value><![CDATA[[
  {
    "key": "a6f8ab0b-372c-43e4-bc13-dce41ae09c0c",
    "mediaKey": "90c31d56-3ec6-4b44-a0ec-a0bcfb677b12",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution6Image>
    <serviceSolution6Link>
      <Value><![CDATA[/services-solution-6]]></Value>
    </serviceSolution6Link>
    <serviceSolution6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution6Text>
  </Properties>
</Content>