<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c9f79a2-a63a-462e-91a2-7bbd8e635936" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T09:18:21</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerCompanyName>
      <Value><![CDATA[Themesflat]]></Value>
    </footerCompanyName>
    <footerRights>
      <Value><![CDATA[Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerRights>
    <footerRightsMobile>
      <Value><![CDATA[Onatrix. Credits to]]></Value>
    </footerRightsMobile>
    <headerFacebookLink>
      <Value><![CDATA[https://facebook.com]]></Value>
    </headerFacebookLink>
    <headerInstagramLink>
      <Value><![CDATA[https://instagram.com]]></Value>
    </headerInstagramLink>
    <headerLink1>
      <Value><![CDATA[/about]]></Value>
    </headerLink1>
    <headerLink2>
      <Value><![CDATA[/services]]></Value>
    </headerLink2>
    <headerLink3>
      <Value><![CDATA[/projects]]></Value>
    </headerLink3>
    <headerLink4>
      <Value><![CDATA[/contact]]></Value>
    </headerLink4>
    <headerLinkText1>
      <Value><![CDATA[About]]></Value>
    </headerLinkText1>
    <headerLinkText2>
      <Value><![CDATA[Services]]></Value>
    </headerLinkText2>
    <headerLinkText3>
      <Value><![CDATA[Projects]]></Value>
    </headerLinkText3>
    <headerLinkText4>
      <Value><![CDATA[Contact]]></Value>
    </headerLinkText4>
    <headerXLink>
      <Value><![CDATA[https://x.com]]></Value>
    </headerXLink>
    <nextProjectImageBackground>
      <Value><![CDATA[[
  {
    "key": "2e8f32a2-fbf5-41bc-af57-53fcf79109e1",
    "mediaKey": "d065ce5e-41ab-4ab6-9627-2e688d39f32d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBackground>
    <nextProjectImageDot>
      <Value><![CDATA[[
  {
    "key": "00661793-1368-45e8-90ac-3a9d1be28726",
    "mediaKey": "f2d8a4d2-61e0-4b94-a594-81ac6d789ff6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageDot>
    <nextProjectImageHuman>
      <Value><![CDATA[[
  {
    "key": "4024a844-50ab-497a-8be0-2472dddb6fe8",
    "mediaKey": "e6e2ae63-5f81-4014-b80f-aa6bb06098c7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageHuman>
    <nextProjectTextEmail>
      <Value><![CDATA[Email]]></Value>
    </nextProjectTextEmail>
    <nextProjectTextHeadline>
      <Value><![CDATA[Headline]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextLocation>
      <Value><![CDATA[Location]]></Value>
    </nextProjectTextLocation>
    <nextProjectTextPhone>
      <Value><![CDATA[Phone]]></Value>
    </nextProjectTextPhone>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <partnersImage1>
      <Value><![CDATA[[
  {
    "key": "1c768ed5-6da7-47e4-9d8a-d58a503b03fb",
    "mediaKey": "d4697bcd-4e67-46f6-b3b7-2dd8e1603072",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage1>
    <partnersImage2>
      <Value><![CDATA[[
  {
    "key": "d469faca-feea-4d24-8c5f-80949671664e",
    "mediaKey": "df7fcaf7-8b04-4e33-b749-aa2293ea0c44",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage2>
    <partnersImage3>
      <Value><![CDATA[[
  {
    "key": "1258453a-97ad-4a31-9928-e361dbcbc7cc",
    "mediaKey": "22f984ef-7412-42f5-b866-241f9953daa7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage3>
    <partnersImage4>
      <Value><![CDATA[[
  {
    "key": "ba6e441e-dc13-49a2-9b87-e56a0ae571ef",
    "mediaKey": "21376825-03c6-4544-ae4a-9fec8f3445b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage4>
    <partnersImage5>
      <Value><![CDATA[[
  {
    "key": "9212ba85-10ee-4758-a1a6-d84f5b221f64",
    "mediaKey": "f4a4e627-2d8e-4cca-89d4-7718de7dda4b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage5>
    <partnersImage6>
      <Value><![CDATA[[
  {
    "key": "6860910a-63f6-4feb-a315-4c22e7d23f60",
    "mediaKey": "8f4b63d8-5774-4b76-a719-670e5b0b44f9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage6>
    <servicesBannerBackground>
      <Value><![CDATA[[
  {
    "key": "735ee075-1c1e-4f6b-b365-24f983a2790b",
    "mediaKey": "76324c19-0354-41a7-9f46-076a65c125f8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesBannerBackground>
    <servicesBannerLink1>
      <Value><![CDATA[/]]></Value>
    </servicesBannerLink1>
    <servicesBannerLinkText1>
      <Value><![CDATA[Home]]></Value>
    </servicesBannerLinkText1>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6b678617-4159-4337-bfe0-e13303947d99",
    "mediaKey": "d2c4df78-ee48-4241-8d76-b4ef65df6a2a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTag>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTag>
    <tags>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/98d6bc80ef57442282ffde108b43e940",
      "tagsName": "[\u0022Report\u0022]",
      "tagsUrl": "/report"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/2b34635b2e6a4633a0fb7e3c68671eb6",
      "tagsName": "[\u0022Business Plans\u0022]",
      "tagsUrl": "/business-plans"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/4b7449b0b997430ca2be7596a29fa05a",
      "tagsName": "[\u0022Insights\u0022]",
      "tagsUrl": "/insights"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/f1a4d922a58c4c54a5661e8e7111ea15",
      "tagsName": "[\u0022Business\u0022]",
      "tagsUrl": "business"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/4e5c1bb9f7484785932c6eb72558fe94",
      "tagsName": "[\u0022App\u0022]",
      "tagsUrl": "/app"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/85af7c86c4e84427bc6a07c04420cf8b",
      "tagsName": "[\u0022Project\u0022]",
      "tagsUrl": "/projects"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/2a0b05409591471f8f6bd9a41e9e1f39",
      "tagsName": "[\u0022Finance\u0022]",
      "tagsUrl": "/finance"
    },
    {
      "contentTypeKey": "c835626f-77f9-4690-b3db-4c6704c78c2a",
      "udi": "umb://element/1820fc7db1264388943d86543c6a5d2b",
      "tagsName": "[\u0022Pricing\u0022]",
      "tagsUrl": "/pricing"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/98d6bc80ef57442282ffde108b43e940",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2b34635b2e6a4633a0fb7e3c68671eb6",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/4b7449b0b997430ca2be7596a29fa05a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/f1a4d922a58c4c54a5661e8e7111ea15",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/4e5c1bb9f7484785932c6eb72558fe94",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/85af7c86c4e84427bc6a07c04420cf8b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2a0b05409591471f8f6bd9a41e9e1f39",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/1820fc7db1264388943d86543c6a5d2b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </tags>
  </Properties>
</Content>