<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ba03e35-6db3-47df-956f-993f42d00eff" Alias="Solution About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SolutionAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>solutionAbout</ContentType>
    <CreateDate>2024-09-11T09:11:51</CreateDate>
    <NodeName Default="Solution About" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <solutionAboutHeadline>
      <Value><![CDATA[About us]]></Value>
    </solutionAboutHeadline>
    <solutionAboutImage>
      <Value><![CDATA[[
  {
    "key": "3e3f8ada-30e7-4e15-a494-7b0bc2b90799",
    "mediaKey": "9db71997-a5cd-4261-80ab-50c14d90ead1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionAboutImage>
    <solutionAboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </solutionAboutText>
  </Properties>
</Content>