<?xml version="1.0" encoding="utf-8"?>
<Content Key="30b9b608-d735-4da9-9a68-c873793ff64b" Alias="Test7" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test7</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-25T14:00:59</CreateDate>
    <NodeName Default="Test7" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dca181b3-4d7d-4442-9b76-72a5c6bd68ee">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1586bf6a-e76f-4919-9d40-bece90034463",
      "udi": "umb://element/d3c8fe588d6b455da16959452fd81edc",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "udi": "umb://element/688ff0b899f74fa9b9359d4d310c8fe3",
      "headlineContent": "Test7"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d3c8fe588d6b455da16959452fd81edc",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "dc067beb-b027-43c8-9743-d8aa06233706",
            "items": [
              {
                "contentUdi": "umb://element/688ff0b899f74fa9b9359d4d310c8fe3",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Test7]]></Value>
    </pageTitle>
  </Properties>
</Content>