<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcc22879-c38d-4888-a714-ff4173cfa0e5" Alias="Test8" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Test8</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-25T14:05:45</CreateDate>
    <NodeName Default="Test8" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dca181b3-4d7d-4442-9b76-72a5c6bd68ee">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1586bf6a-e76f-4919-9d40-bece90034463",
      "udi": "umb://element/a0bcb24d12b44a10acc2096fdc1dc6e9",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Secondary\u0022,\r\n  \u0022value\u0022: \u0022#D9C3A9\u0022\r\n}"
    },
    {
      "contentTypeKey": "24d372e8-9779-414e-934f-88a62b82b0fb",
      "udi": "umb://element/cf60d70899e14b09b405014a23680caf",
      "headlineContent": "Test8"
    },
    {
      "contentTypeKey": "5081de68-a08a-4ed9-bb02-9ea857044a9c",
      "udi": "umb://element/07a4b053a7bb458d807abb80ec454fe9",
      "richText": "{\u0022markup\u0022:\u0022\\u003Ch2\\u003Esdgvds\\u003C/h2\\u003E\\n\\u003Cp\\u003Ekjkl\\u003C/p\\u003E\\n\\u003Cp style=\\u0022text-align: left;\\u0022\\u003Ejn,\\u003C/p\\u003E\\n\\u003Cul\\u003E\\n\\u003Cli style=\\u0022text-align: left;\\u0022\\u003Eyhjk\\u003C/li\\u003E\\n\\u003C/ul\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}",
      "paragraphContent": "jghhj"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a0bcb24d12b44a10acc2096fdc1dc6e9",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "dc067beb-b027-43c8-9743-d8aa06233706",
            "items": [
              {
                "contentUdi": "umb://element/cf60d70899e14b09b405014a23680caf",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/07a4b053a7bb458d807abb80ec454fe9",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Test8]]></Value>
    </pageTitle>
  </Properties>
</Content>