<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ecf38be-a923-4036-a07a-18b6fbb60689" Alias="We Help" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeHelp</Path>
    <Trashed>false</Trashed>
    <ContentType>weHelp</ContentType>
    <CreateDate>2024-09-11T12:33:39</CreateDate>
    <NodeName Default="We Help" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <weHelpFormHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </weHelpFormHeadline>
    <weHelpFormImage>
      <Value><![CDATA[[
  {
    "key": "d6038682-58fc-4744-b718-d5ce941d6478",
    "mediaKey": "82cf08ff-818e-41d1-9ade-0441a0c565a6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weHelpFormImage>
    <weHelpFormText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </weHelpFormText>
  </Properties>
</Content>